<div [@routerTransition]>
  <app-page-header [heading]="'Usuarios'" [icon]="'fas fa-users'"></app-page-header>
  <div class="row">
    <div class="mx-auto">
      <div class="card">
        <div class="card-header">Información de los Usuarios del Sistema</div>
        <div class="card-body table-responsive">
          <form role="form" #nickForm="ngForm" (ngSubmit)="getUser(nickSelected.value)">

            <mat-form-field>
              <input autocapitalize="none" autocorrect="off" name="nick" placeholder="Seleccione al usuario" aria-label="Number" matInput
                [formControl]="adminService.nicksControl" [matAutocomplete]="auto" required #nickSelected>
              <mat-autocomplete #auto="matAutocomplete" (optionSelected)="activateButton()" (opened)="adminService.nicksControl.setValue('')">
                <mat-option *ngFor="let nick of adminService.filteredNicks | async" [value]="nick">
                  {{ nick }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
            <br>
            <!-- <div class="form-group">
            <label>Seleccione al usuario</label>
            <select class="form-control" (change)="activateButton()" #userSelected>
              <option *ngFor="let user of users" [value]="user">{{ user }}</option>
            </select>
          </div> -->
            <button mat-raised-button color="primary" [disabled]="!nickForm.valid || disabled">Obtener Información</button> &nbsp;
            <button mat-raised-button color="warn" routerLink="/dashboard">Cancelar</button>
          </form>
          <div *ngIf="user" class="card-body table-responsive">
            <hr>
            <table class="table table-hover table-striped">
              <tbody>
                <tr>
                  <th>Usuario</th>
                  <td>
                    <b>{{ user.user.login.nick }} </b>
                  </td>
                </tr>
                <tr>
                  <th>Cantidad de Monedas</th>
                  <td> {{ user.user.wallet.coinAmounts.length }} </td>
                </tr>
                <tr>
                  <th>Transacciones Hoy</th>
                  <td> {{ user.transactionCounter.today }} </td>
                </tr>
                <tr>
                  <th>Transacciones</th>
                  <td> {{ user.transactionCounter.all }} </td>
                </tr>
                <tr>
                  <th>Ultimo Acceso</th>
                  <td> {{ user.user.login.lastLogin | date:'dd MMM yyyy HH:mm:ss' }} </td>
                </tr>
                <tr>
                  <th>Rol</th>
                  <td> {{ rol }} </td>
                </tr>
              </tbody>
            </table>
            <div class="row justify-content-center">
              <button *ngIf="rol === 'Usuario'" mat-raised-button color="primary" [disabled]="proccesing" (click)="convertAdmin(user.user.login.nick)">Hacer Administrador</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
