<div [@routerTransition]>
  <app-page-header [heading]="'Usuarios'" [icon]="'fas fa-users'"></app-page-header>
  <div class="row">
    <div class="mx-auto">
      <div class="card">
        <div class="card-header">Información de los Usuarios del Sistema</div>
        <div class="card-body table-responsive">
          <div class="form-group">
            <label>Seleccione al usuario</label>
            <select class="form-control" (change)="user = null" #userSelected>
              <option *ngFor="let user of users" [value]="user">{{ user }}</option>
            </select>
          </div>
          <input type="submit" class="btn btn-primary" value="Obtener Información" [disabled]="user" (click)="getUser(userSelected.value)">
          <div *ngIf="user" class="card-body table-responsive">
            <hr>
            <table class="table table-hover table-striped">
              <tbody>
                <tr>
                  <th>Usuario</th>
                  <td>
                    <b>{{ user.user.login.nick }} </b>
                  </td>
                </tr>
                <tr>
                  <th>Cantidad de Monedas</th>
                  <td> {{ user.user.wallet.coinAmounts.length }} </td>
                </tr>
                <tr>
                  <th>Transacciones Hoy</th>
                  <td> {{ user.transactionCounter.today }} </td>
                </tr>
                <tr>
                  <th>Transacciones</th>
                  <td> {{ user.transactionCounter.all }} </td>
                </tr>
                <tr>
                  <th>Ultimo Acceso</th>
                  <td> {{ user.user.login.lastLogin | date:'dd MMM yyyy HH:mm:ss' }} </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
