<div [@routerTransition]>
  <app-page-header [heading]="'Usuarios'" [icon]="'fa-edit'"></app-page-header>
  <div class="row justify-content-center">
    <div class="col-sm-8 col-md-6 col-lg-6 col-xl-5">
      <div class="card">
        <div class="card-header">Información de los Usuarios del Sistema</div>
        <div class="col-lg-12">
          <div class="form-group">
            <hr>
            <label>Seleccione al usuario</label>
            <select class="form-control" #userSelected>
              <option *ngFor="let user of users" [value]="user">{{ user }}</option>
            </select>
          </div>
          <button class="btn btn-primary" (click)="getUser(userSelected.value)" [disabled]="!userSelected">Obtener Información</button> &nbsp;
          <button class="btn btn-secondary" (click)="showInfo = false" [disabled]="!showInfo">Limpiar</button>
          <hr>
          <ngb-alert *ngIf="alert.status" (close)="alert.status = false" [type]="alert.type">{{ alert.message }}</ngb-alert>
          <div *ngIf="showInfo" class="card-body table-responsive">
            <table class="table table-hover table-striped">
              <tbody>
                <tr>
                  <th>Usuario</th>
                  <td>{{ user.login.nick }}</td>
                </tr>
                <tr>
                  <th>Cantidad de Monedas</th>
                  <td>{{ user.wallet.coinAmounts.length }}</td>
                </tr>
                <tr>
                  <th>Transacciones Hoy</th>
                  <td>{{ user.transactionsToday }}</td>
                </tr>
                <tr>
                  <th>Transacciones</th>
                  <td>{{ user.transactionsTotal }}</td>
                </tr>
                <tr>
                  <th>Ultimo Acceso</th>
                  <td>{{ user.lastAccess }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
