@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~@angular/material/theming';
$config-mat-core: mat-typography-config($font-family: inherit);
@include mat-core($config-mat-core);
.mat-simple-snackbar {
  color: black;
  font-size: 18px;
}

.mat-simple-snackbar-action {
  color: inherit;
  button {
    font: {
      size: 20px;
      weight: 700;
    }
  }
}

.success {
  background-color: #9d9;
}

.warning {
  background-color: #dd9;
}

.danger {
  background-color: #d99;
}
