/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~@angular/material/theming';
@import "bootstrap/bootstrap";
@import "spinner";
@import "utils";
@import "rtl";
@import "responsive";

$font-family:'Open Sans';

$config-mat-core: mat-typography-config($font-family: inherit);
@include mat-core($config-mat-core);
.mat-simple-snackbar {
  font-size: 18px
}

.mat-simple-snackbar-action {
  color: inherit;
  button {
    font: {
      size: 20px;
      weight: 700;
    }
  }
}

body {
  font-family: $font-family, sans-serif
}
