<div [@routerTransition]>
  <h4>Ingrese sus credenciales</h4>
  <div *ngIf="loading" class="animated infinite zoomIn">
    <h5>Verificando</h5>
  </div>
  <div class="loader"></div>
  <form role="form" #userLoginForm="ngForm" (ngSubmit)="onSubmit(userLoginForm)">
    <div class="form-content">
      <div class="form-group">
        <input type="text" autocapitalize="none" class="form-control input-underline input-lg" placeholder="Nombre de Usuario" name="nick"
          ngModel required minlength="3">
      </div>
      <div class="form-group">
        <input type="password" autocapitalize="none" class="form-control input-underline input-lg" placeholder="Contraseña" name="pass"
          ngModel required minlength="3">
      </div>
    </div>
    <input type="submit" class="btn rounded-btn" [disabled]="!userLoginForm.valid || loading" value="Ingresar"> &nbsp;
    <button class="btn rounded-btn" [routerLink]="['/signup']" [disabled]="loading">Regístrese</button>
  </form>
</div>
