<div [@routerTransition]>
  <app-page-header [heading]="'Comparar Usuarios'" [icon]="'far fa-copy'"></app-page-header>
  <div class="row justify-content-center">
    <div class="col-md-10 col-lg-9 col-xl-8">
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label>Seleccione al primer usuario</label>
            <select class="form-control" #user1>
              <option *ngFor="let user of users" [value]="user">{{ user }}</option>
            </select>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label>Seleccione al segundo usuario</label>
            <select class="form-control" #user2>
              <option *ngFor="let user of users" [value]="user">{{ user }}</option>
            </select>
          </div>
        </div>
      </div>
      <button class="btn btn-primary" (click)="compare(user1.value, user2.value)" [disabled]="!user1 || !user2">Comparar</button>
    </div>
  </div>
</div>
