<div [@routerTransition]>
  <app-page-header [heading]="'Comparar Usuarios'" [icon]="'far fa-copy'"></app-page-header>
  <div class="row justify-content-center">
    <div class="col-md-10 col-lg-9 col-xl-8">
      <form role="form" #compareForm="ngForm" (ngSubmit)="compare(nick1.value, nick2.value)">
        <div class="row">
          <div class="col-sm-6">

            <!-- <mat-form-field>
              <input autocapitalize="none" autocorrect="off" name="nick" placeholder="Seleccione al primer usuario" aria-label="Number"
                matInput [formControl]="adminService.nicksControl" [matAutocomplete]="auto" required #nick1>
              <mat-autocomplete #auto="matAutocomplete" (optionSelected)="activateButton()">
                <mat-option *ngFor="let nick of adminService.filteredNicks | async" [value]="nick">
                  {{ nick }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field> -->

            <div class="form-group">
              <label>Seleccione al primer usuario</label>
              <select class="form-control" (change)="activateButton()" #nick1 required>
                <option *ngFor="let nick of adminService.nicks" [value]="nick">{{ nick }}</option>
              </select>
            </div>

          </div>
          <div class="col-sm-6">

            <!-- <mat-form-field>
              <input autocapitalize="none" autocorrect="off" name="nick" placeholder="Seleccione al segundo usuario" aria-label="Number"
                matInput [formControl]="adminService.nicksControl" [matAutocomplete]="auto" required #nick2>
              <mat-autocomplete #auto="matAutocomplete" (optionSelected)="activateButton()">
                <mat-option *ngFor="let nick of adminService.filteredNicks | async" [value]="nick">
                  {{ nick }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field> -->

            <div class="form-group">
              <label>Seleccione al segundo usuario</label>
              <select class="form-control" (change)="activateButton()" #nick2 required>
                <option *ngFor="let nick of adminService.nicks" [value]="nick">{{ nick }}</option>
              </select>
            </div>

          </div>
        </div>
        <button mat-raised-button color="primary" [disabled]="!compareForm.valid || disabled">Comparar</button> &nbsp;
        <button mat-raised-button color="warn" routerLink="/dashboard">Cancelar</button>
      </form>
      <div *ngIf="winner" class="card-body table-responsive">
        <table class="table table-hover table-striped">
          <thead>
            <tr>
              <th></th>
              <td class="font-weight-bold text-success">GANADOR</td>
              <td class="font-weight-bold text-danger">PERDEDOR</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>Usuario</th>
              <td class="font-weight-bold"> {{ winner.login.nick }} </td>
              <td class="font-weight-bold"> {{ loser.login.nick }} </td>
            </tr>
            <tr>
              <th>Cantidad de monedas</th>
              <td> {{ winner.wallet.coinAmounts.length }} </td>
              <td> {{ loser.wallet.coinAmounts.length }} </td>
            </tr>
            <tr>
              <th>Total en monedas</th>
              <td> {{ winner.wallet.dolarFinalBalance - winner.wallet.dolarAmount | currency :'USD':' u$s ' }} </td>
              <td> {{ loser.wallet.dolarFinalBalance - loser.wallet.dolarAmount | currency :'USD':' u$s ' }} </td>
            </tr>
            <tr>
              <th>Saldo</th>
              <td> {{ winner.wallet.dolarAmount | currency :'USD':' u$s ' }} </td>
              <td> {{ loser.wallet.dolarAmount | currency :'USD':' u$s ' }} </td>
            </tr>
            <tr>
              <th>Total tenencias</th>
              <td class="font-weight-bold text-success"> {{ winner.wallet.dolarFinalBalance | currency :'USD':' u$s ' }} </td>
              <td class="font-weight-bold text-danger"> {{ loser.wallet.dolarFinalBalance | currency :'USD':' u$s ' }} </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
