<nav class="navbar navbar-expand-lg  navbar-dark bg-dark fixed-top" (swipeleft)="cs.hideSidebar()" (swiperight)="cs.showSidebar()">
  <a class="navbar-brand" [routerLink]="['/dashboard']">TACS - Crypto</a>
  <button class="navbar-toggler" type="button" (click)="cs.toggleSidebar()">
    <span class="navbar-toggler-icon navbar-light"></span>
  </button>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown" ngbDropdown>
        <a class="nav-link" ngbDropdownToggle>
          <i class="fas fa-user"></i>{{ cs.role() | translate }}
        </a>
        <div class="dropdown-menu-right" ngbDropdownMenu>
          <p class="dropdown-item">
            <i class="fas fa-id-card"></i>{{ cs.nick() }}
          </p>
          <a class="dropdown-item" [routerLink]="['/login']" (click)="cs.logout()">
            <i class="fas fa-sign-out-alt"></i>{{ 'Log Out' | translate }}
          </a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="cs.rltAndLtr()">
          <mat-icon>swap_horiz</mat-icon>
        </a>
      </li> &nbsp;
      <li class="nav-item dropdown" ngbDropdown>
        <a class="nav-link" ngbDropdownToggle>
          <i class="fas fa-language"></i>{{ 'Language' | translate }}
        </a>
        <div class="dropdown-menu-right" ngbDropdownMenu>
          <a class="dropdown-item" (click)="cs.changeLang('es')">
            {{ 'Spanish' | translate }}
          </a>
          <a class="dropdown-item" (click)="cs.changeLang('en')">
            {{ 'English' | translate }}
          </a>
        </div>
      </li>
    </ul>
  </div>
</nav>
