<nav class="navbar navbar-expand-lg fixed-top">
  <a class="navbar-brand" href="#">TACS - Crypto</a>
  <button class="navbar-toggler" type="button" (click)="toggleSidebar()">
    <span class="navbar-toggler-icon"></span>
    <i class="fas fa-bars text-muted"></i>
  </button>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown" ngbDropdown>
        <a href="javascript:void(0)" class="nav-link" ngbDropdownToggle>
          <i class="fas fa-user"></i>{{ role | translate }}
          <b class="caret"></b>
        </a>
        <div class="dropdown-menu-right" ngbDropdownMenu>
          <p class="dropdown-item">
            <i class="fas fa-id-card"></i>{{ nick }}
          </p>
          <a class="dropdown-item" [routerLink]="['/login']" (click)="onLoggedout()">
            <i class="fas fa-sign-out-alt"></i>{{ 'Log Out' | translate }}
          </a>
        </div>
      </li>
      <li class="nav-item">
        <a href="javascript:void(0)" class="nav-link" (click)="rltAndLtr()">
          <i class="material-icons"> swap_horiz </i>
        </a>
      </li> &nbsp;
      <li class="nav-item dropdown" ngbDropdown>
        <a href="javascript:void(0)" class="nav-link" ngbDropdownToggle>
          <i class="fas fa-language"></i>{{ 'Language' | translate }}
          <b class="caret"></b>
        </a>
        <div class="dropdown-menu-right" ngbDropdownMenu>
          <a class="dropdown-item" href="javascript:void(0)" (click)="changeLang('es')">
            {{ 'Spanish' | translate }}
          </a>
          <a class="dropdown-item" href="javascript:void(0)" (click)="changeLang('en')">
            {{ 'English' | translate }}
          </a>
        </div>
      </li>
    </ul>
  </div>
</nav>
