<div [@routerTransition]>
  <app-page-header [heading]="'Profile'" [icon]="'fas fa-id-card'"></app-page-header>
  <div class="row justify-content-center">
    <div class="col-md-10 col-lg-8 col-xl-7">
      <div class="card">
        <div class="card-header">Panel de Control de Usuario</div>
        <div class="card-body table-responsive">
          <form role="form" #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
            <div class="row">
              <div class="col-sm-6">
                <mat-form-field>
                  <input matInput name="name" placeholder="Nombre" [(ngModel)]="newUser?.person.name">
                </mat-form-field>
              </div>
              <div class="col-sm-6">
                <mat-form-field>
                  <input matInput name="lastName" placeholder="Apellido" [(ngModel)]="newUser?.person.lastName">
                </mat-form-field>
              </div>
            </div>
            <mat-form-field>
              <input matInput name="email" type="email" placeholder="Email" [(ngModel)]="newUser?.person.email" email required>
            </mat-form-field>
            <mat-form-field>
              <input matInput name="pass" type="password" placeholder="Contraseña actual" ngModel minlength="3" required>
            </mat-form-field>
            <mat-form-field>
              <input matInput name="newPass" type="password" placeholder="Nueva Contraseña" ngModel minlength="3" required>
            </mat-form-field>
            <mat-form-field>
              <input matInput name="confirmedNewPass" type="password" placeholder="Confirmación Nueva Contraseña" ngModel minlength="3" required>
            </mat-form-field>
            <div class="row">
              <div class="col-sm-3">
                <button mat-raised-button color="primary" [disabled]="!userForm.valid">Actualizar</button>
              </div>
              <div class="col-sm-9 text-right">
                <br>
                <small>La contraseña debe tener un mínimo de 3 caracteres.</small>
                <br>
                <small>Los campos marcados con * son obligatorios.</small>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
