<div class="animated zoomIn">
  <h4>Ingrese los datos del nuevo usuario</h4>
  <div *ngIf="loading" class="animated infinite zoomIn">
    <h5>Registrando</h5>
  </div>
  <form role="form" #userRegistrationForm="ngForm" (ngSubmit)="onSubmit(userRegistrationForm)">
    <div class="form-content">
      <div class="form-group">
        <input autocapitalize="none" class="form-control input-underline input-lg" placeholder="Nombre de Usuario (min 3)" name="nick"
          ngModel required minlength="3">
      </div>
      <div class="form-group">
        <input class="form-control input-underline input-lg" placeholder="Email" name="email" ngModel email required>
      </div>
      <div class="form-group">
        <input type="password" autocapitalize="none" class="form-control input-underline input-lg" placeholder="Contraseña (min 3)"
          name="pass" ngModel required minlength="3">
      </div>
      <div class="form-group">
        <input type="password" autocapitalize="none" class="form-control input-underline input-lg" placeholder="Repetir Contraseña"
          name="confirmPass" ngModel required minlength="3">
      </div>
    </div>
    <input type="submit" class="btn rounded-btn" [disabled]="!userRegistrationForm.valid || loading" value="Registrar"> &nbsp;
    <button class="btn rounded-btn" [routerLink]="['/login']" [disabled]="loading">Ingresar</button>
  </form>
</div>
