<div [@routerTransition]>
  <app-page-header [heading]="'History'" [icon]="'fas fa-history'"></app-page-header>
  <div class="row">
    <div class="mx-auto">
      <div class="card">
        <div class="card-header">{{ 'History' | translate }}</div>
        <div class="card-body table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>{{ 'Transactions' | translate }}</th>
                <th style="text-align: center">{{ 'Quantity' | translate }}</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">{{ 'Today' | translate }}</th>
                <td>{{ today.transactionsCount }}</td>
              </tr>
              <tr>
                <th scope="row">Ultimos 3 días</th>
                <td>{{ threeDays.transactionsCount }}</td>
              </tr>
              <tr>
                <th scope="row">Ultima semana</th>
                <td>{{ lastweek.transactionsCount }}</td>
              </tr>
              <tr>
                <th scope="row">Ultimo mes</th>
                <td>{{ lastMonth.transactionsCount }}</td>
              </tr>
              <tr>
                <th scope="row">Inicio de los tiempos</th>
                <td>{{ startTimes.transactionsCount }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
