<div class="login-page" [@routerTransition]>
  <img src="assets/images/logo.png" width="25%" />
  <div class="row">
    <div class="mx-auto">
      <h1>TACS - Crypto</h1>
      <h4>Introduzca sus credenciales</h4>
      <ngb-alert *ngIf="alert.status" (close)="alert.status = false" [type]="alert.type">{{ alert.message }}</ngb-alert>
      <form role="form" #userRegistrationForm="ngForm" (ngSubmit)="onSubmit(userRegistrationForm)">
        <div class="form-content">
          <div class="form-group">
            <input type="text" class="form-control input-underline input-lg" placeholder="Nombre de Usuario" name="userName" #userName="ngModel"
              [(ngModel)]="user.nick" required minlength="3">
          </div>
          <div class="form-group">
            <input type="password" class="form-control input-underline input-lg" placeholder="Contraseña" name="password" #password="ngModel"
              [(ngModel)]="user.pass" required minlength="3">
          </div>
        </div>
        <input type="submit" class="btn rounded-btn" [disabled]="!userRegistrationForm.valid" value="Ingresar"> &nbsp;
        <a class="btn rounded-btn" [routerLink]="['/signup']">Nuevo Usuario</a>
      </form>
    </div>
  </div>
</div>
