.msg-error-number {
  font-size: 10em;
  color: #333;
}

.msg-error-number .fa {
  animation: fa-spin 5s infinite linear;
}

.msg-error-main {
  font-size: 3em;
  font-weight: bolder;
  color: rgb(128, 16, 16);
}

.wrap {
  text-align: center;
  width: 1000px;
  margin: 0 auto;
  background: #fff;
}

.logo {
  width: 500px;
  margin: auto;
  padding-top: 10em;
}

p a {
  color: #bbb;
  font-size: 25px;
  display: block;
  background: #333;
  -webkit-border-radius: .5em;
  -moz-border-radius: .5em;
  border-radius: .5em;
}

p a:hover {
  text-decoration: none;
  color: #fff;
}

.footer {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 14px;
  color: #999;
}

.footer a {
  color: rgb(112, 71, 71);
  text-decoration: none;
}

/*--responsive--*/

@media(max-width:991px) {
  .wrap {
    text-align: center;
    margin: 0 auto;
    width: 897px;
  }
}

@media(max-width:900px) {
  .wrap {
    text-align: center;
    margin: 0 auto;
    width: 820px;
  }
}

@media(max-width:800px) {
  .wrap {
    text-align: center;
    margin: 0 auto;
    width: 700px;
  }
}

@media (max-width:736px) {
  .wrap {
    text-align: center;
    margin: 0 auto;
    width: 627px;
  }
}

@media(max-width:667px) {
  .wrap {
    text-align: center;
    margin: 0 auto;
    width: 600px;
  }
}

@media(max-width:640px) {
  .wrap {
    text-align: center;
    margin: 0 auto;
    width: 570px;
  }
}

@media(max-width:600px) {
  .wrap {
    text-align: center;
    margin: 0 auto;
    width: 458px;
  }
  .logo {
    width: 322px;
    margin: 0 auto;
    padding-top: 9em;
  }
  .logo img {
    width: 100%;
  }
  .footer {
    position: absolute;
    bottom: 147px;
    left: 69px;
    font-size: 12px;
  }
}

@media(max-width:480px) {
  .wrap {
    text-align: center;
    margin: 0 auto;
    width: 375px;
  }
}

@media(max-width:440px) {
  .footer {
    position: absolute;
    bottom: 105px;
    left: 48px;
    font-size: 12px;
  }
}

@media(max-width:414px) {
  .wrap {
    text-align: center;
    margin: 0 auto;
    width: 357px;
  }
}

@media(max-width:384px) {
  .wrap {
    text-align: center;
    margin: 0 auto;
    width: 363px;
  }
  .footer {
    position: absolute;
    bottom: 105px;
    left: 9px;
    font-size: 12px;
    text-align: center;
    line-height: 1.8em;
  }
}

@media(max-width:375px) {
  .wrap {
    text-align: center;
    margin: 0 auto;
    width: 337px;
  }
  .logo {
    width: 250px;
    margin: 0 auto;
    padding-top: 8em;
  }
}

@media(max-width:320px) {
  .wrap {
    text-align: center;
    margin: 0 auto;
    width: 285px;
  }
  .logo {
    width: 181px;
    margin: 0 auto;
    padding-top: 5em;
  }
}
