<nav class="sidebar" [ngClass]="{'push-right': cs.isSidebarToggled()}">
  <div class="list-group">
    <a [routerLink]="['/dashboard']" [routerLinkActive]="['router-link-active']" class="list-group-item">
      <i class="fas fa-home"></i>{{ 'Dashboard' | translate }}
    </a>
    <a [routerLink]="['/buy']" [routerLinkActive]="['router-link-active']" class="list-group-item">
      <i class="fab fa-fw fa-btc"></i>{{ 'Buy' | translate }}
    </a>
    <a [routerLink]="['/sell']" [routerLinkActive]="['router-link-active']" class="list-group-item">
      <i class="fas fa-fw fa-dollar-sign"></i>{{ 'Sell' | translate }}
    </a>
    <a [routerLink]="['/deposit']" [routerLinkActive]="['router-link-active']" class="list-group-item">
      <i class="fas fa-fw fa-money-check-alt"></i>{{ 'Deposit' | translate }}
    </a>
    <a [routerLink]="['/wallet']" [routerLinkActive]="['router-link-active']" class="list-group-item">
      <i class="fas fa-fw fa-wallet"></i>{{ 'Wallet' | translate }}
    </a>
    <a [routerLink]="['/transactions']" [routerLinkActive]="['router-link-active']" class="list-group-item">
      <i class="fas fa-fw fa-clipboard-list"></i>{{ 'Transactions' | translate }}
    </a>
    <hr>
    <div *ngIf="cs.role() == 'Admin'">
      <p class="list-group-item">{{ 'AdminSection' | translate }}</p>
      <a [routerLink]="['/authorize']" [routerLinkActive]="['router-link-active']" class="list-group-item">
        <i class="fas fa-fw fa-check"></i>{{ 'Authorize' | translate }}
      </a>
      <a [routerLink]="['/users']" [routerLinkActive]="['router-link-active']" class="list-group-item">
        <i class="fas fa-fw fa-users"></i>{{ 'Users' | translate }}
      </a>
      <a [routerLink]="['/compare']" [routerLinkActive]="['router-link-active']" class="list-group-item">
        <i class="far fa-fw fa-copy"></i>{{ 'Compare' | translate }}
      </a>
      <a [routerLink]="['/history']" [routerLinkActive]="['router-link-active']" class="list-group-item">
        <i class="fas fa-fw fa-history"></i>{{ 'History' | translate }}
      </a>
    </div>
    <div class="header-fields">
      <hr>
      <a href="javascript:void(0)" (click)="toggleMenu('profile')" class="list-group-item">
        <i class="fas fa-fw fa-user"></i>{{ cs.nick() | translate }}
      </a>
      <ul *ngIf="menu === 'profile'" class="animated zoomIn">
        <li>
          <a [routerLink]="['/user']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fas fa-fw fa-id-card"></i>{{ 'Settings' | translate }}
          </a>
        </li>
        <li>
          <a [routerLink]="['/login']" (click)="cs.logout()" class="list-group-item">
            <i class="fas fa-fw fa-sign-out-alt"></i>{{ 'Log Out' | translate }}
          </a>
        </li>
      </ul>
      <a href="javascript:void(0)" (click)="cs.rltAndLtr()" class="list-group-item">
        <i class="fas fa-fw fa-exchange-alt"></i>{{ 'L/R' | translate }}
      </a>
      <a href="javascript:void(0)" (click)="toggleMenu('languages')" class="list-group-item">
        <i class="fas fa-fw fa-language"></i>{{ 'Language' | translate }}
      </a>
      <ul *ngIf="menu === 'languages'" class="animated zoomIn">
        <li>
          <a href="javascript:void(0)" (click)="cs.changeLang('en')" class="list-group-item">
            {{ 'English' | translate }}
          </a>
        </li>
        <li>
          <a href="javascript:void(0)" (click)="cs.changeLang('es')" class="list-group-item">
            {{ 'Spanish' | translate }}
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
