<div [@routerTransition]>
  <app-page-header [heading]="'Authorize'" [icon]="'fas fa-check'"></app-page-header>
  <div class="row justify-content-center">
    <div class="col-xl-10">
      <div class="card">
        <div class="card-header"> Depositos Pendientes para autorizar </div>
        <div class="card-body table-responsive">

          <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="{{ 'Filter' | translate }}">
          </mat-form-field>

          <table class="table table-hover table-striped" mat-table [dataSource]="deposits" matSort matSortActive="date" matSortDirection="desc">

            <ng-container matColumnDef="date">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'Date' | translate }}</th>
              <td mat-cell *matCellDef="let deposit"> {{deposit.date | date:'dd MMM yyyy HH:mm:ss'}} </td>
            </ng-container>

            <ng-container matColumnDef="number">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'Ticket' | translate }}</th>
              <td mat-cell *matCellDef="let deposit"> {{deposit.number}} </td>
            </ng-container>

            <ng-container matColumnDef="userNick">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'User' | translate }}</th>
              <td mat-cell *matCellDef="let deposit"> {{deposit.userNick}} </td>
            </ng-container>

            <ng-container matColumnDef="amount">
              <th style="direction: rtl" mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'Amount' | translate }}</th>
              <td class="text-right" mat-cell *matCellDef="let deposit"> {{deposit.amount | currency :'USD':' $ '}} </td>
            </ng-container>

            <ng-container matColumnDef="state">
              <th style="direction: rtl" mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'State' | translate }}</th>
              <td class="text-right" mat-cell *matCellDef="let deposit">
                <span *ngIf="deposit.state === 'WAITING' && !proccesing">
                  <a (click)="approve(deposit.number)">
                    <i class="fas fa-check-circle fa-2x text-success"></i>
                  </a>
                  &nbsp;
                  <a (click)="reject(deposit.number)">
                    <i class="fas fa-times-circle fa-2x text-danger"></i>
                  </a>
                </span>
                <b *ngIf="deposit.state !== 'WAITING'" [ngClass]="{'text-success': deposit.state === 'APPROVED', 'text-danger': deposit.state === 'REJECTED'}">{{ deposit.state | translate }}</b>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          </table>

          <mat-paginator [pageSize]="10" [pageSizeOptions]="[10, 25, 100]" [showFirstLastButtons]="true"></mat-paginator>

        </div>
      </div>
    </div>
  </div>
</div>
