<div [@routerTransition]>
  <app-page-header [heading]="'Depositos Pendientes'" [icon]="'fas fa-check'"></app-page-header>
  <div class="row justify-content-center">
    <div class="col-sm-8 col-md-6">
        <div class="card">
          <div class="card-header">
              Depositos Pendientes para autorizar
          </div>
          <div class="card-body table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>Fecha</th>
                  <th>Usuario</th>
                  <th>Monto</th>
                  <th>Comprobante</th>
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
