<div [@routerTransition]>
  <app-page-header [heading]="'Transacciones'" [icon]="'fa-edit'"></app-page-header>
  <div class="row justify-content-center">
    <div class="col-xl-10">
      <div class="card">
        <div class="card-header">Transacciones</div>
        <div class="card-body table-responsive">
          <table class="table table-hover table-striped">
            <thead>
              <tr>
                <th>Fecha</th>
                <th>Tipo</th>
                <th>Ticker</th>
                <th>Moneda</th>
                <th style="text-align:right">Valor de compra</th>
                <th style="text-align:right">Valor actual</th>
                <th style="text-align:center">Diferencia</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let op of operations.reverse()">
                <td>{{ op.date | date }}</td>
                <td>{{ op.description }}</td>
                <td>{{ op.coinAmount.coin.ticker }}</td>
                <td>{{ op.coinAmount.coin.name }}</td>
                <td style="text-align:right">{{ op.quoteTimeSold }}</td>
                <td style="text-align:right">{{ op.quoteTimeNow }}</td>
                <td style="text-align:center">{{ op.quoteDifference }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
