<div [@routerTransition]>
  <app-page-header [heading]="'Transacciones'" [icon]="'fas fa-clipboard-list'"></app-page-header>
  <div class="row justify-content-center">
    <div class="col-xl-10">
      <div class="card">
        <div class="card-header">Transacciones</div>
        <div class="card-body table-responsive">

          <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtrar">
          </mat-form-field>

          <table class="table table-hover table-striped" mat-table [dataSource]="operations" matSort matSortActive="date" matSortDirection="desc">

            <ng-container matColumnDef="date">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha</th>
              <td mat-cell *matCellDef="let operation"> {{operation.date | date:'dd MMM yyyy HH:mm:ss'}} </td>
            </ng-container>

            <ng-container matColumnDef="description">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Tipo</th>
              <td mat-cell *matCellDef="let operation"> {{operation.description}} </td>
            </ng-container>

            <ng-container matColumnDef="ticker">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Ticker</th>
              <td mat-cell *matCellDef="let operation"> {{operation.coinAmount.coin.ticker}} </td>
            </ng-container>

            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Moneda</th>
              <td mat-cell *matCellDef="let operation"> {{operation.coinAmount.coin.name}} </td>
            </ng-container>

            <ng-container matColumnDef="amount">
              <th style="direction: rtl" mat-header-cell *matHeaderCellDef mat-sort-header>Cantidad</th>
              <td class="text-right" mat-cell *matCellDef="let operation"> {{operation.coinAmount.amount}} </td>
            </ng-container>

            <ng-container matColumnDef="quoteTimeSold">
              <th style="direction: rtl" mat-header-cell *matHeaderCellDef mat-sort-header>Valor de compra</th>
              <td class="text-right" mat-cell *matCellDef="let operation"> {{operation.quoteTimeSold | currency :'USD':'$ ':'1.2-4'}} </td>
            </ng-container>

            <ng-container matColumnDef="quoteTimeNow">
              <th style="direction: rtl" mat-header-cell *matHeaderCellDef mat-sort-header>Valor actual</th>
              <td class="text-right" mat-cell *matCellDef="let operation"> {{getActualQuote(operation) | currency :'USD':'$ ':'1.2-4'}} </td>
              <!-- <td class="text-right" mat-cell *matCellDef="let operation"> {{operation.quoteTimeNow | currency :'USD':'$ ':'1.2-4'}} </td> -->
            </ng-container>

            <ng-container matColumnDef="quoteDifference">
              <th style="direction: rtl" mat-header-cell *matHeaderCellDef mat-sort-header>Diferencia</th>
              <td class="text-right" [ngClass]="{'text-success': getDiff(operation) > 0, 'text-danger': getDiff(operation) < 0}" mat-cell
                *matCellDef="let operation">
                <b>{{ getDiff(operation) | percent:'1.2' }}</b>
              </td>
              <!-- <td class="text-right" mat-cell *matCellDef="let operation"> {{operation.quoteDifference}} </td> -->
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          </table>

          <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[10, 25, 100]" [showFirstLastButtons]="true"></mat-paginator>

        </div>
      </div>
    </div>
  </div>
</div>
