<div [@routerTransition]>
  <app-page-header [heading]="'Comprar'" [icon]="'fab fa-btc'"></app-page-header>
  <div class="row">
    <div class="mx-auto">
      <div class="card">
        <div class="card-header">Seleccione la criptomoneda a comprar</div>
        <div class="card-body table-responsive">
          <form role="form" #buyForm="ngForm" (ngSubmit)="onSubmit(buyForm)">
            <div class="form-group input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fab fa-fw fa-btc"></i>
                </span>
              </div>
              <select class="form-control" name="coin" [(ngModel)]="coinSelected" required>
                <option *ngFor="let coin of coins" [ngValue]="coin">{{ coin.ticker }} - {{ coin.name }}</option>
              </select>
            </div>
            <div *ngIf="coinSelected">
              <label>Cotización actual en u$s</label>
              <div class="form-group input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fas fa-fw fa-dollar-sign"></i>
                  </span>
                </div>
                <span class="form-control">{{ coinSelected.valueInDollars | number :'1.2' }}</span>
              </div>
            </div>
            <div>
              <label>Saldo disponible en u$s</label>
              <div class="form-group input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fas fa-fw fa-dollar-sign"></i>
                  </span>
                </div>
                <span class="form-control">{{ saldoUSD | number :'1.2' }}</span>
              </div>
            </div>
            <hr>
            <div class="form-group input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fab fa-fw fa-quora"></i>
                </span>
              </div>
              <input class="form-control" type="number" onkeypress="return event.charCode >= 46 && event.charCode <= 57" min="0.00000001"
                placeholder="Cantidad a comprar" name="amount" ngModel required>
            </div>
            <input class="btn btn-success" type="submit" [disabled]="!buyForm.valid" value="Comprar"> &nbsp;
            <button class="btn btn-danger" routerLink="/dashboard" [routerLinkActive]="['router-link-active']">Cancelar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
