<div [@routerTransition]>
  <app-page-header [heading]="'Portafolio'" [icon]="'fa-edit'"></app-page-header>
  <div class="row">
    <div class="col col-xl-6 col-lg-12">
      <div class="card mb-3">
        <div class="card-header">Portafolio</div>
        <div class="card-body table-responsive">
          <table class="table table-hover table-striped">
            <thead>
              <tr>
                <th>Criptomoneda</th>
                <th>Cantidad</th>
                <th>Valor en USD</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>BTC</td>
                <td>1265</td>
                <td>$321.33</td>
              </tr>
              <tr>
                <td>ETH</td>
                <td>261</td>
                <td>$234.12</td>
              </tr>
              <tr>
                <td>LTC</td>
                <td>665</td>
                <td>$16.34</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
